*{
    margin: 0;
    padding: 0;
    
}
body{

background-color: hsl(275, 100%, 97%);
margin-bottom: 10%;
}
#for-the-background{
    background-image: url('/images/background-pattern-desktop.svg');
    background-size: cover;
    height: 50vh;
}

.icon-star{
    height: 35px;
    margin-right: 10px;
}
.faq-headline{
    gap: 1%;
    display: flex;
}
.faq-headline h1{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.accordion-description{
    border-bottom: 2px solid hsl(275, 100%, 97%);
    max-height: 0;
    overflow: hidden;
    display: none;
    transition: max-height 200ms ease;


}

.accordion-btn .icons .minus-icon{
    display: none;
}
.p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color:hsl(292, 16%, 49%);
    margin: 3% 0 3%;
    
}

img, svg {

    max-width: 100%;
    display: block;
}

.active, .accordion-btn{
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    padding: 3% 0;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    text-align: left;
    align-items: center ;
    gap: 1rem;
    justify-content: space-between;
    border: 0;
    font-family: "Work Sans", sans-serif;
    outline: none;
    transition: 0.4s;
    
}

.accordion-btn:hover{
    color: purple;
}

.container{
    background-color: #fff;
    margin: auto;
    max-width: 40%;
    padding: 3%;
    margin-top: -100px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

@media (max-width:540px){
    body{
        background-image: url(images/background-pattern-mobile.svg);
    }
}
